#top {
    display: flex;
    align-items: center;
}

#logobox {
    display: flex;
    justify-content: center;
    align-items: center;
}

#hamburger {
    height: 56px;
    padding: 0px;
    position: relative;
    cursor: pointer;
}

#logo {
    height: 20px;
    align-self: flex-start;
}

#search-box {
    width: 600px;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#search {
    height: 34px;
    /* margin-left: 34px; */
    margin-right: 0;
    font-size: 16px;
    flex-grow: 1;
    align-self: center;
    /* max-width: 938px; */
    max-height: 100%;
    /* border: 1px solid violet; */
}

#magnifying-glass{
    border: 0;
    background: transparent;
    height: 100%;
    padding: 0%;
    cursor: pointer;
    /* border: 1px solid red; */
    align-self: center;
    display: flex;
    margin-bottom: 2px;
    /* align-items: center; */
}

#search-button {
    height: 100%;
    width: 100%;
    
}

