#recommended {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 0 100%;
    max-width: 78%;
    /* border: 1px red solid; */
    margin: auto;
}

.vertical-tile {
    /* border: 1px solid goldenrod; */
    flex: 1 1 320px 180px;
    list-style: none;
    margin: 10px;
}

#vert-tile-title {
    font-weight: 600;
    max-width: 240px;
}

#vid-centerer {
    /* border: 1px blue solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.tile-vid {
    width: 100%;
    align-self: center;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 200px;
}

.vertical-tile h4{
    margin: 5px;
}

.vertical-tile h5 {
    color: gray;
    margin: 5px;
}

#tile-with-pic {
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
}

#icon {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tile-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#likes-and-time {
    display: flex;
    justify-content: center;
}