#recommended {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.vertical-tile {
    /* This broke stuff */
    width: 20%;
    max-height: 200px;
    /* border: 1px solid goldenrod; */
    margin: 2%;

}

#vid-centerer {
    /* border: 1px blue solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tile-vid {
    /* border: 1px red solid; */
    width: 100%;
    max-height: 200px;
    align-self: center;
}

.vertical-tile h4{
    margin: 5px;
}

.vertical-tile h5 {
    color: gray;
    margin: 5px;
}

#tile-with-pic {
    display: flex;
    align-items: center;
}

#icon {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tile-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}