#video-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#video-form h2, form{
    margin: 40px;
}

#upload-form label, input, button {
    margin: 20px;
}

#edit-list {
    max-width: 80%;
}

#video-edit-item {
    border: 1px solid lightgray;
    height: 300px;
    display: flex;
    margin: 25px;
    background-color: white;
}
#video-edit-item video {
    max-width: 400px;
}
#video-edit-item > div {
    flex-grow: 1;
}

#top-right {
    display: flex;
    justify-content: space-around;
}

#edit-description {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    cursor: pointer;
}