.theater{
    display: flex;
    justify-content: space-between;
    margin: 20px 5%;
    border: 1px black solid;
}

#video {
    width: 80%;
    /* max-width: 100%; */
    border: 1px black solid;
    margin: 0px;
}

video {
    width: 100%;
}


#comments {
    border: 1px solid black;
    align-self: flex-start;
    justify-self: flex-start;
}