#video-col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 5%;
    border: 1px red solid;
    flex: 3 1 auto;
}

#chat-col {
    margin-top: 20px;
    margin-right: 5%;
    border: 1px solid blue;
    
    flex: 1 1 auto;
}


