#video-col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 5%;
    border: 1px red solid;
    min-width: 640px;
    flex: 1 0 auto;
}

#chat-col {
    margin-top: 20px;
    margin-right: 5%;
    /* border: 1px solid blue; */
    width: 400px;
}


