#login-modal {
    cursor: pointer;
    margin: 10px;
}

#session-box {
    width: 450px;
    height: 500px;
    background: white;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#session-box img{
    height: 28px;
    width: 80px;
    margin: 40px 0px 20px 0px;
}

#session-box form{
    display: flex;
    flex-direction: column;
}



