#chat {
    overflow: auto;
    width: 364px;
    height: 400px;
    margin: 20px;
    align-self: flex-end;
    border: 1px black solid;

}

ul ul {
    padding: 5px 0px 5px 15px;
}

.comment, .focus {
    list-style-position: inside;
    margin: 1px;
    border: 1px solid black;
}

.focus{
    font-style: italic;
    font-weight: bold;
    /* color: red; */
}
