#chat {
    overflow: auto;
    width: 600px;
    height: 400px;
    margin: 20px;
}

ul ul {
    padding: 5px 0px 5px 15px;
}

ul li.comment {
    list-style-position: inside;
    margin: 1px;
    border: 1px solid black;
}

.focus{
    font-style: italic;
    font-weight: bold;
    /* color: red; */
}