#chat {
    overflow: auto;
    width: 600px;
    height: 400px;
}

ul ul {
    padding: 5px 0px 5px 15px;
}

ul li {
    list-style-position: inside;
    margin: 1px;
    border: 1px solid black;
}
