#top {
    padding: 0;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#content {
    display: flex;
    justify-content: center;
}

#left {
    width: 300px;
    height: 100%;
    /* border: 1px solid red; */
    background-color: white;
}

.left-link {
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.left-link :hover {
    background-color: rgb(234, 234, 234);
}

#hide {
    display: none;
}

#left-img {
    height: 100%;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    height: 100%;
}

#left-img img {
    height: 20px;
}

#right {
    display: flex;
    /* height: 95%; */
}

#footer {
    background-color: whitesmoke;
    text-align: center;
    /* padding-bottom: 5px; */
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}