/* TODO Add site wide styles */
#top, #content{
    font-family: 'Roboto', 'Arial', sans-serif;
}


#logobox, #search-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#hamburger {
    height: 56px;
    padding: 0px;
    position: relative;
}

#logo {
    height: 20px;
    align-self: flex-start;
}

#search-box {
    width: 600px;
}
#search {
    height: 34px;
    margin-left: 34px;
    font-size: 16px;
    flex-grow: 1;
    max-width: 538px;
}

#magnifying-glass{
    border: 0;
    background: transparent;
    height: 40px;
    padding: 0%;
}

#search-button {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

