/* TODO Add site wide styles */
/* #top {
    border: 4px black solid;
    background-color: azure;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

