.search-results {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.video-tile, #no-results {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 10px;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.2rem;
}

.video-tile video{
    height: 202px;
    width: 360px;
    object-fit: cover;
    margin-right: 16px;
}

.video-tile .video-details{
    width: 720px;
}