#navigation {
    align-self: center;
    max-width: 156px;
}

#navigation img {
    border: 1px solid lightskyblue;
    border-radius: 20px;
    margin-right: 10px;
}

#control-panel img{
    height: 30px;
    margin: 5px;
    cursor: pointer;
}

#control-panel {
    display: flex;
    margin-right: 10px;
}

#control-panel a {
    align-self: center;
    display: flex;
}

#control-panel #upload {
    height: 20px;
    align-self: center;
}